.footer {
  background-color: #11111c;
  color: white;
  font-family: Arial, sans-serif;
  padding: 40px 20px 10px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin:auto;
  gap: 30px;
}

.company,
.contact {
  flex: 1 1 300px;
}

h3, h4 {
  margin-bottom: 10px;
}

.social-links a {
  display: block;
  color: #83b6dd;
  text-decoration: none;
  margin: 4px 0;
  transition: 0.3s ease;
}

.social-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #444;
  margin-top: 30px;
  color: #ccc;
  font-size: 14px;
}

@media(max-width: 625px){
  .footer-content{
    flex-direction:column;
  }
  .foot-content div{
    width: 90%;
  }
}
