footer {
  background-color: #12121c;
  color: #fff;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 20px;
}

.footer-content div {
  width: 45%;
  margin-bottom: 20px;
}

footer p {
  margin: 5px 0;
}

footer .copyright {
  text-align: center;
  border-top: 1px solid #333;
  padding-top: 20px;
  font-size: 0.9rem;
}