body,html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    word-spacing: 4px;
    line-height: 1.5;
    overflow: hidden;
}

.bannerimage {
    background-color: lightblue; 
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 1px 20px;
    margin:0;
    color:white;
    text-align: center;
    font-size: 3em;
    font-family:'Agency FB Bold';
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: 900;
    animation: fade-in 2s;
}

.container {
    margin:4vh 50px;
    position:relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity:0;
}        

.container-reverse {
    margin:4vh 50px;
    position:relative;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    opacity:0;
}

.description {
    max-width:700px;
}


.img {
    border-radius: 25px;
    /* background-color: blue; */
    margin:0;
    min-width:100px;
    max-width:100px;
}

.title{
    font-size: 36px;
    font-weight: bold;
    left:2vw;
    position:relative;
    margin: 0 2vw 0 0;
}

.title-reverse{
    font-size: 36px;
    font-weight: bold;
    position:relative;
    margin: 0 2vw 0 0;
}

.text{
    left:2vw;
    margin: 0 2vw 0 0;
    position:relative;
}



.text-reverse{
    margin: 0 2vw 0 0;
    position:relative;
}

.overlay {
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
    border-radius: 25px;
}

.container:hover .overlay {
    opacity: 1;
}

.container-reverse:hover .overlay {
    opacity: 1;
}

div.in-view-slide-left{
    animation: slide-in-left 1.5s;
    opacity: 1;
}
div.in-view-slide-right{
    animation: slide-in-right 1.5s;
    opacity: 1;
}
div.fade-out{
    animation: fade-out 1s;
}


@media (max-width: 1200px) {
    .container, .container-reverse {
        flex-direction: column;
    }
}

@font-face {
    font-family: 'Agency FB Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Agency FB Bold'), url('AGENCYB.woff') format('woff');
}

@keyframes fade-in {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slide-in-left {
    0% {
        opacity: 0.2;
        left:0px;
    }

    60% {
        opacity: 0.6;
        left:80px;
    }

    100% {
        opacity: 1.0;
        left:0px;
    }

}

@keyframes slide-in-right {
    0% {
        opacity: 0.2;
        right:0px;
    }

    60% {
        opacity: 0.6;
        right:80px;
    }

    100% {
        opacity: 1.0;
        right:0px;
    }
}